################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project-2/baker.exe
/project-2/baker.obj
